<!-- Begin Gallery Section -->
<section id="gallery" class="gallery">  
  <div class="content-wrapper">
        <div id="lightgallery" style="margin-top: 60px;">
<a class="item" href="{{ "/img/photography/1.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/1.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/2.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/2.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/3.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/3.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/4.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/4.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/5.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/5.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/6.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/6.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/7.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/7.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/8.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/8.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/9.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/9.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/10.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/10.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/11.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/11.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/12.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/12.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/13.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/13.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/14.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/14.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/15.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/15.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/16.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/16.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/17.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/17.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/18.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/18.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/19.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/19.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/20.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/20.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/21.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/21.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/22.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/22.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/23.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/23.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/24.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/24.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/25.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/25.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/26.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/26.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/27.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/27.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/28.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/28.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/29.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/29.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/30.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/30.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/31.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/31.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/32.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/32.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/33.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/33.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/34.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/34.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/35.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/35.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/36.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/36.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/37.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/37.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/38.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/38.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/39.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/39.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/40.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/40.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/41.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/41.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/42.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/42.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/43.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/43.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/44.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/44.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/45.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/45.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/46.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/46.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/47.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/47.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/48.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/48.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/49.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/49.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/51.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/51.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/52.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/52.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/53.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/53.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/54.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/54.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/55.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/55.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/56.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/56.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/57.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/57.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/58.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/58.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/59.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/59.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/60.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/60.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/61.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/61.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/62.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/62.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/63.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/63.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/64.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/64.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/65.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/65.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/66.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/66.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/67.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/67.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/68.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/68.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/69.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/69.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/70.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/70.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/71.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/71.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/72.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/72.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/73.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/73.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/74.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/74.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/75.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/75.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/76.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/76.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/77.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/77.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/78.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/78.jpg" | prepend: site.baseurl }}" />
<a class="item" href="{{ "/img/photography/79.jpg" | prepend: site.baseurl }}"> <img src="{{ "/img/thumbs/79.jpg" | prepend: site.baseurl }}" />
        </div>
    </div>
</section>
<!-- End Gallery Section -->
