{% if site.hasPromoVideo %}
<section id="promo-video" class="promo-video">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div id="videoWrapper" style="position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0;">
                    <video style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" controls="controls" poster="{{ site.promotionVideoPoster }}">
                        <source src="{{ site.promotionVideoUrl }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
